<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/styles/style1.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Welcome to 'The Chat'</title>
</head>

<body>
   <div class="wrapper">
      <div class="container">
         <div class="wrapper2">
            <div class="signup">Sign Up</div>
            <div class="login">Log In</div>
         </div>

         <div class="signup-form">
            <form class="signup">
               <div class="form-group">
                  <input type="email" class="form-control" id="email-input" placeholder="Enter Email Address">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" id="username-input" placeholder="Choose a Username">
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" id="password-input" placeholder="Choose a Password">
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" id="password-confirm"
                     placeholder="Confirm Password">
               </div>
               <button type="submit" class="btn" id="signup-button">Create Account</button>

               
            </form>


         </div>


         <div class="login-form">
            <form class="signin">
               <div class="form-group">
                  <input type="text" class="form-control" id="username" placeholder="Your Username"><br />
               </div>
               <div class="form-group">
                  <input type="password"  class="form-control" id="password"  placeholder="Your Password"><br />
               </div>
               <button type="submit" class="btn" id="signin-button">Log In</button>
            </form>
            <span><a href="#"> ಠ╭╮ಠ I forgot my username or password.</a></span>
         </div>

      </div>
   </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

   <!-- <script src="../public/js/login.js"></script> -->
   <script>
      $(".login-form").hide();
      $(".login").css("background", "rgb(255,255,255)");
      $(".btn").css("background", "rgb(255,255,255)");
      $(".signup, .login").css("margin", "auto")

      $(".login").click(function () {
         $(".signup-form").hide();
         $(".login-form").show();
         $(".signup").css("background", "rgb(255,255,255)");
         $(".login").css("background", "rgb(99, 99, 99)");
         console.log("click on login")
      });


      $(".signup").click(function () {
         $(".signup-form").show();
         $(".login-form").hide();
         $(".login").css("background", "rgb(255,255,255)");
         $(".signup").css("background", "rgb(99, 99, 99)");
         console.log("click on sign in")
      });

      $(".btn").click(function () {
         $(".input").val("");
      });
   </script>

   <script src="/js/login.js"></script>
   <script src="/js/signin.js"></script>







</body>

</html>