<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>THE CHAT - Music</title>
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../public/styles/chat.css">
</head>

<body>
  <div class="site-wrapper" id="nbaImage">
    <div class="site-wrapper-inner">
        <header class="masthead">
          <div class="inner">
            <h3 class="masthead-brand">THE NBA ROOM</h3>
            <nav class="nav nav-masthead">
              <a class="nav-link" href="home.html">Home</a>
              <a class="nav-link" href="mlb.html">MLB</a>
              <a class="nav-link active" href="nba.html">NBA</a>
              <a class="nav-link" href="nfl.html">NFL</a>
            </nav>
          </div>  
        </header> 
      <div class="cover-container">
        <main role="main" class="cover">
          <h1 class="cover-heading">Basketball</h1>
          <p class="lead">Talk about the latest scores and games</p>
        </main>
        <footer class="mastfoot">
          <div class="inner">
            <p>Photo by NeONBRAND on Unsplash</p>
          </div>
        </footer>
      </div>
    </div>
  </div>

  
  <div class="wrapper">
    <div class="chat-box">
        <div class="chat-head">
            <h2>Chat Box</h2>
            <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow"
                width="16">
        </div>
        <div class="chat-body">
            <div class="msg-insert">
                <div class="msg-send"> Send message </div>
                <div class="msg-receive"> Received message </div>
            </div>
            <div class="chat-text">
                <textarea placeholder="Send"></textarea>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript" src="../public/js/chat.js"></script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.17.0/dist/axios.min.js"></script>
</body>

</html>