<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>THE CHAT - NFL</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/chat.css">
      </head>

<body class="d-flex flex-column h-100" id="nflImage">
    <!-- Fixed Header with 50px padding-->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-transparent">
        <a class="navbar-brand nflTag" href="/nfl">THE NFL ROOM</a>
        <button class="custom-toggler navbar-toggler nflTag" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" id="nflID"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link nflTag" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nflTag" href="/mlb">MLB</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nflTag" href="/nba">NBA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nflTag" href="/nfl">NFL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nfltag" href="/logout">Log Out :(</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
      <div class="container">
  
        <!-- Scoreboard Tables for each Sport's Section -->
        <table id="NL" frame="box">
          <tbody class="national">
          </tbody>
        </table>
  
        <table id="AL" frame="box">
          <tbody class="american">
          </tbody>
        </table>
  
        <!-- Chat Box -->
        <div class="wrapper">
          <div class="chat-box">
  
            <div class="chat-head">
              <h2>Chat Box </h2>
              <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow"
                width="16">
            </div>
  
            <div class="chat-body">
              <div class="msg-insert">
                <div class="msg-send"> Welcome to the Chat! </div>
                <div class="msg-receive"> </div>
              </div>
              <div class="chat-text">
                <textarea placeholder="Say Something..."></textarea>
              </div>
              <!-- Chat-body end div -->
            </div>
          </div>
        
          <!-- Container and main end div -->
        </div>
    </main>
    <span class="vertical-text">Photo by Wade Austin Ellis on Unsplash</span>
    <!-- Footer fixed to bottom -->
    <footer class="mt-auto py-3 footer footer-transparent">
      <div class="container">
        
      </div>
    </footer>
  
  
    <!-- All the Java and Jquery Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
      crossorigin="anonymous"></script>
  
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/chat.js"></script>
    <script type="text/javascript" src="/js/nfl.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.0/dist/axios.min.js"></script>
  </body>
  
  </html>