*{
  margin: 0;
  padding: 0;
} 

body{
  background-image: url(../styles/img/radek-novy-1287430-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: roboto;
  user-select: none;
}

.container{
  width: 450px;
  margin: 30px auto;
}

.wrapper2{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 50%;
  margin: 0 auto;

}

.signup,
.login{
  width: 100%;
  background: rgb(99, 99, 99);
  height: 60px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  margin: auto;
}

.signup-form{
  background: transparent;
  padding: 40px;
  clear: both;
  width: 60%;
  box-sizing: border-box;
  height: 400px;
  margin: auto;
}

.login-form{
  background: transparent;
  padding: 40px;
  clear: both;
  width: 60%;
  box-sizing: border-box;
  height: 325px;
  margin: auto;
}

.input{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px; 
  border: 2px solid rgb(245, 243, 241);
  color: #01010e;
  font-size: 14px;
  outline: none;
  transform: all 0.5s ease;
  height: 30px;
  box-shadow: 10px 10px 10px;
}

.input:focus{
  border: 2px solid #f1f3f3;
}

.btn{
  width: 100%;
  background: #319fda;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: rgb(242, 240, 240);
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 30px;
  box-shadow: 10px 10px 10px;
}

span a{
  text-decoration: none;
  color: #000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3e3e40;
  font-family: roboto;
}